@model Gym_Management.Models.Gym_Equipment_type_1

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Gym_Equipment_type_1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Eq_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eq_type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Et_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
