
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<style>
    body {
        background-image: url('../../Content/image/HOME_BG.jpg');
        background-size: cover;
    }
</style>
 <div style="color:white;margin-left:20px;">
   <div class="row"style="margin-left:140px;">

       <div class="col-md-10" style="background-color: black">
           <h2 style="text-align:center">Our Team</h2>
           <p>

               Here at Gym and Fitness, we have a team of approximately forty awesome superstars and we owe our success to each and every one of them! Because we hire for culture first and foremost, we have some pretty awesome people working with us who hustle everyday to give you a positive customer experience. You can find them in areas such as sales, marketing and ecommerce, customer service, warehousing, finance, human resources and management. If you think you’re kind of a big deal and interested in joining our team, please send us an email with your resume and a little bit about yourself.
           </p>
       </div>
   </div>
     <br />
     <div class="row" style="margin-left:140px;">
         <div class="col-md-4" style="background-color: black">
             <h2 style="text-align:center">Our Story</h2>
             <p>
                 Gym and Fitness was founded in 2002 as a family owned and operated business. The Gym and Fitness founders didn’t want it to be just another gym equipment retailer - they wanted to be the best in the industry and set their minds to doing so! Since its birth, Gym and Fitness has grown into one of Australia’s largest online fitness equipment retailers having helped over 50,000 customers live longer, happier and healthier lives
             </p>
         </div>
         <div class="col-md-2"></div>
         <div class="col-md-4" style="background-color: black">
             <h2 style="text-align:center">What we do</h2>
             <p>
                 We want to help you live a fit and healthy lifestyle! We do this by helping you find the most suitable equipment for your home gym, studio or commercial gym, keeping your budget, lifestyle and fitness goals in mind. We stock a wide range of gym equipment, with strength equipment, cardio, cross training and so much more. Our awesome team is always keen to help, so please call us to discuss your needs.
             </p>
         </div>
         <br />
         <div class="row" style="margin-left:0px;">
             <br />
             <div class="col-md-10" style="background-color: black"><br />
                 <h2 style="text-align:center">Our Core Values</h2>

             </div>
             <div class="col-md-3" style="background-color: black">
                 <h4>Customer Service</h4>
                 <hr />
                 <p>
                     Customers are our priority. We are passionate about delivering exceptional, personalised customer service to all.
                 </p>
             </div>
             <div class="col-md-3" style="background-color: black">
                 <h4>Customer Service</h4>
                 <hr />
                 <p>
                     Customers are our priority. We are passionate about delivering exceptional, personalised customer service to all.
                 </p>
             </div>
             <div class="col-md-3" style="background-color: black">
                 <h4>  Teamwork</h4>
                 <hr />
                 <p>
                   
                     We are committed to common goals. Effective communication and accountability makes our team achieve greater results.
                 </p>
             </div>
         </div>

     </div>
</div>

